<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Record Store Home</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<div class="container">

    <h1>Add your favorite bands to our database!</h1>


    <form action="/addBand" method="post">
        <div class="form-group">
            <label for="bandname">Band name:</label>
            <input type="text" class="form-control" id="bandname" name="bandname"/>
        </div>
        <div class="form-group">
            <label for="genre">Type of music:</label>
            <input type="genre" class="form-control" name="genre" id="genre"/>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>