<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Record Store Home</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<div class="container body">
    <div th:include="includes :: img"></div>

    <h1>Add your favorite songs to our database!</h1>

    <form action="/addSongAndBand/" method="post">
        <div class="form-group">
            <label for="title">Song title:</label>
            <input type="text" class="form-control" name="title" id="title" value=""/>
        </div>

        <div class="form-group">
            <label for="band_id">Band:</label>
            <select name="band_id" class="form-control" id="band_id">
                <option>-------</option>
                <option th:value="${band.id}" th:each="band : ${bands}"
                        th:text="${band.bandname}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <form action="/addBand" method="get">
        <h4>Don't see the band listed in the drop-down menu? </h4>
        <h4>Click on the button below to add them to our database:</h4>
        <button type="submit" class="btn btn-primary">Add band</button>

    </form>
</div>
</body>
</html>