<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Band detail page</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<div class="container body">
    <div th:include="includes :: img"></div>

    <h2 th:each="album : ${album}" th:text="${album.band.bandname}"></h2>
    <div class="row">
        <div class="col-md-4" th:each="album : ${album}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${album.title}"></h3>
                </div>
                <div class="panel-body">
                    <p th:inline="text">Year released: [[${album.yearReleased}]]</p>
                </div>
                <div class="panel-body">
                    <p>Songs on album:</p>
                    <p th:each="song : ${album.songs}" th:text="${song.title}"></p>
                </div>
            </div>
            <h3>Are we missing a song? Fill out the form below to add to the list:</h3>
            <form action="/addSong" method="post">
                <div class="form-group">
                    <label for="title">Song Title:</label>
                    <input type="text" class="form-control" name="title" id="title"/>
                    <input type="hidden" th:value="${album.band.id}" name="band_id"/>
                    <input type="hidden" th:value="${album.id}" name="album_id"/>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>

        </div>
    </div>

    <h3>Not finding what you're looking for?</h3>
    <h3>Click on the button below to add an album to our database</h3>
    <form action="/addAlbum" method="get">

        <input type="submit" value="Add album"/>
    </form>


</div>

</body>
</html>