<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Band detail page</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<div class="container">

    <h1>band info here</h1>

    <ul>

        <li th:each="${bands : bands}" th:text="${bands.name}"></li>
    </ul>

    <form action="/bandSearch" method="post">
        <div class="form-group">
            <label for="album">If you know the specific album you are looking for you can enter it
                below:</label>
            <input type="text" class="form-control" name="album" id="album"/>
        </div>
        <button type="submit" class="btn btn-warning">Search</button>
    </form>


</div>

</body>
</html>