<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Record Store Home</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<div class="container">
    <h1>Welcome to the record store</h1>
    <h3>What are you in the mood to listen to? Search for your favorite band below:</h3>

    <form action="/bandDetail" method="post">
        <div class="form-group">
            <label for="bandname">Band name:</label>
            <input type="text" class="form-control" name="bandname" id="bandname"/>
        </div>
        <button type="submit" class="btn btn-warning">Search</button>
    </form>

    <h3>Not sure of the band name but know the album title? Enter it here and we'll look for it in our records:</h3>
    <form action="/albumDetail" method="post">
        <div class="form-group">
            <label for="title">Album title:</label>
            <input type="text" class="form-control" name="title" id="title"/>
        </div>
        <button type="submit" class="btn btn-warning">Search</button>
    </form>


</div>


</body>
</html>